 


/* Browser Resets */
.ma-banner7-container .flex-container a:active,
.ma-banner7-container .flexslider a:active,
.ma-banner7-container .flex-container a:focus,
.ma-banner7-container .flexslider a:focus  {outline: none;}
.ma-banner7-container .slides,
.ma-banner7-container .flex-control-nav,
.ma-banner7-container .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.ma-banner7-container .flexslider {margin: 0; padding: 0;}
.ma-banner7-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.ma-banner7-container .flexslider .slides img { display: block;  }
.ma-banner7-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.ma-banner7-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .ma-banner7-container .slides {display: block;} 
* html .ma-banner7-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .ma-banner7-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.ma-banner7-container .flexslider {padding: 0; position: relative; zoom: 1;}
.ma-banner7-container .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.ma-banner7-container .loading .flex-viewport {max-height: 300px;}
.ma-banner7-container .flexslider .slides {zoom: 1;}

.ma-banner7-container .carousel li {margin-right: 5px}


/* Direction Nav */
.ma-banner7-container .flex-direction-nav {*height: 0;}

/* Control Nav */

.ma-banner7-container .flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }

.ma-banner7-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.ma-banner7-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.ma-banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.ma-banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.ma-banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.ma-nivoslider {
    overflow: hidden;
}
.nivoslider {
position: relative;
overflow: hidden;
height: auto;
width: 100%; 
}
.nivoslider img {
position: absolute;
top: 0;
left: 0;
display: none;
}
.nivo-controlNav {
    text-align: center;
	position: absolute;
	width: 100%;
	bottom: 30px;
}

.banner7-caption {
position: absolute;
left:0; 
top:0;  
width: 100%;
background: none;
color: #fff;
font-size: 16px;
z-index: 999;
}
.ma-banner7-container .ma-loading {
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 99;
    background: url(../images/loader.gif) no-repeat ;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}
/* The Nivo Slider styles */
.nivoSlider {
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
}
.nivoSlider img {
    position:absolute; 
    max-width: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important; 
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white; 
    filter:alpha(opacity=0); 
    opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}
.nivo-box img { display:block; }

.nivo-caption {
  position:absolute;
    left:0; 
    top:0;  
    color:#fff;
    width:100%;
    height: 100%;
    z-index:8;
}
.nivo-html-caption {
    display: none;
}
.nivo-main-image {
    display: block !important;
    position: relative !important; 
    width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border:0;
    padding:0;
    margin:0;
    z-index:6;
    display:none;
    background:white; 
    filter:alpha(opacity=0); 
    opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display:block;
    position:absolute;
    z-index:5;
    height:100%;
    top:0;
}
.nivo-box {
    display:block;
    position:absolute;
    z-index:5;
    overflow:hidden;
}


.nivo-caption {
  position:absolute;
    left:0; 
    top:0;  
    color:#fff;
    width:100%;
    z-index:8;
    height: 100%;
}
.nivo-html-caption {
    display: none;
}
@-webkit-keyframes myfirst {
  from {width: 0;}
  to {width: 100%;}
 }
 @keyframes myfirst {
  from {width: 0;}
  to {width: 100%;}
 }
 
 @-webkit-keyframes Slider2{
	0% { -webkit-transform: translateY(500px); -moz-transform: translateY(500px); transform: translateY(500px); opacity: 0; }
	100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); transform: translateY(0); opacity: 1; }
 }
 @keyframes Slider2{
	0% { -webkit-transform: translateY(500px); -moz-transform: translateY(500px); transform: translateY(500px); opacity: 0; }
	100% { -webkit-transform: translateY(0); -moz-transform: translateY(0); transform: translateY(0); opacity: 1; }
 }
 .timethai.pos_hover{
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  
 }
 .ma-banner7-container{
    position :relative; min-height: 50px;
 }

/*===================================================Content-banner7===========================================================*/
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.banner7-content{ position: relative; height: 100%;}
.banner7-content .des-container { top: 50%; position: absolute; left: 50%; } 
.banner7-content img { top: 0; position: absolute; height: 100%;  } 
.banner7-content h1 { font-size: 60px; text-transform: uppercase; }
.banner7-content h2 { font-size: 40px; text-transform: uppercase; }
.banner7-content h3 { font-size: 20px; text-transform: uppercase; }
.banner7-readmore { display: inline-block; margin-top: 20px; }
.banner7-readmore a {  font-size: 12px; font-weight: 700; color: #fff; background: #c5c5c5; display: inline-block; text-decoration: none; text-transform: uppercase; line-height: 40px; padding: 0 25px; letter-spacing: 2px; 
	animation: pulse 0.5s linear alternate; 
	-webkit-animation: pulse 0.5s linear alternate;
	-moz-animation: pulse 0.5s linear alternate;
}

.title1 { 
	animation: slideInLeft 0.3s linear alternate; 
	-webkit-animation: slideInLeft 0.3s linear alternate;
	-moz-animation: slideInLeft 0.3s linear alternate;
}
.slider-1 .img1 {
	animation: slideInUp 0.5s linear alternate; 
	-webkit-animation: slideInUp 0.5s linear alternate;
	-moz-animation: slideInUp 0.5s linear alternate;
}
.slider-1 .title-container  { margin-left: -585px; margin-top: -85px; }

.slider-1 .title1 { color: #fff; border-bottom: 5px solid #fff; line-height: 60px; }
.slider-1 .img1 {  
  left: 0;
  right: 0;
  margin: auto; }
.slider-1 .banner7-des .text-left {   position: absolute;
  left: 50%; margin-top: -80px;
  text-align: center;
  top: 50%;
  margin-left: -585px;
    width: 153px;
  height: 153px;
	animation: slideInLeft 0.5s linear alternate; 
	-webkit-animation: slideInLeft 0.5s linear alternate;
	-moz-animation: slideInLeft 0.5s linear alternate;
}
.slider-1 .banner7-des .text-left h1 { font-size: 50px; font-weight: 900; color: #2b2b2b; line-height: 48px; }
.slider-1 .banner7-des .text-left h1 span { display: inline-block; clear: both; font-size: 30px; color: #979797; line-height: 38px; font-weight: 400; border-width: 2px 0; border-style: solid; border-color: #979797; letter-spacing: 10px;}
.slider-1 .banner7-des .text-left .text-inner { position: relative; }
.slider-1 .banner7-des .text-left .text-inner:before { content:""; border-width: 1px 0; border-color: #222; border-style: solid; display: block; position: absolute; top: -30px; right: 0; bottom: -15px; left: 0;
-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); }
.slider-1 .banner7-des .text-right { position: absolute; right: 50%; top: 50%; margin-right: -585px; text-align: center; border: 5px solid #f7505a; margin-top: -180px; 
	animation: slideInRight 0.5s linear alternate; 
	-webkit-animation: slideInRight 0.5s linear alternate;
	-moz-animation: slideInRight 0.5s linear alternate; }
.slider-1 .banner7-des .text-right h1 { display: block; background: #f7505a; color: #fff; font-weight: 400; font-size: 50px;}
.slider-1 .banner7-des .text-right h2 { color: #2b2b2b; font-weight: 900; font-size: 80px; text-transform: uppercase; width: 275px; line-height: 75px;}
.slider-1 .banner7-des .text-right a { color: #787878; font-weight: 700; font-size: 12px; text-transform: uppercase;  line-height: 38px; border: 1px solid #787878; padding: 0 20px; display: block; margin: 15px; }
.slider-1 .banner7-des .text-right a:hover { color: #fff; background: #f7505a; border-color: #f7505a;}
.slider-1 .banner7-readmore { margin-left: -113px; margin-top: 170px; } 

.slider-2 { text-align: center; } 
.slider-2 .img1 { left: 20px; 
	animation: slideInLeft 0.5s linear alternate; 
	-webkit-animation: slideInLeft 0.5s linear alternate;
	-moz-animation: slideInLeft 0.5s linear alternate;
}
.slider-2 .img2 { right: 20px;
	animation: slideInRight 0.5s linear alternate; 
	-webkit-animation: slideInRight 0.5s linear alternate;
	-moz-animation: slideInRight 0.5s linear alternate;
}
.slider-2 .des-container  {  margin-left: -306px; margin-top: -165px; }
.slider-2 .title1 { text-transform: uppercase; font-size: 50px; font-weight: 200; color: #f7505a; letter-spacing: 5px; 
animation: Slider2 0.5s linear alternate; 
	-webkit-animation: Slider2 0.5s linear alternate;
	-moz-animation: Slider2 0.5s linear alternate;}
.slider-2 .title2 { text-transform: uppercase; font-size: 80px; font-weight: 900; color: #333; display: inline-block; border-bottom: 4px solid #333; line-height: 70px;
	animation: Slider2 0.8s linear alternate; 
	-webkit-animation: Slider2 0.8s linear alternate;
	-moz-animation: Slider2 0.8s linear alternate;}
.slider-2 .banner7-des  { width: 390px; animation: Slider2 1s linear alternate; 
	-webkit-animation: Slider2 1s linear alternate;
	-moz-animation: Slider2 1s linear alternate; }
.slider-2 .banner7-des p {color: #6f6f6f; font-size: 13px; font-weight: 900; text-transform: uppercase; letter-spacing: 5px; margin-top: 10px; }
.slider-2 .banner7-readmore {
	width: 390px; animation: Slider2 1.3s linear alternate; 
	-webkit-animation: Slider2 1.3s linear alternate;
	-moz-animation: Slider2 1.3s linear alternate;
}
  



 
@media ( max-width: 1400px) {   
	.slider-1 .banner7-des .text-left h1 { font-size: 35px; line-height: 44px;  }
	.slider-1 .banner7-des .text-left h1 span { font-size: 17px; line-height: 25px; }
	.slider-1 .banner7-des .text-left .text-inner:before { top: -15px; bottom: -10px; }
	.slider-1 .banner7-des .text-left { margin-left: -545px; }
	.slider-1 .banner7-des .text-right h1 { font-size: 40px; }
	.slider-1 .banner7-des .text-right h2 { font-size: 60px; width: 200px; line-height: 65px; }
	.slider-1 .banner7-des .text-right { margin-top: -167px; }
	.slider-2 .title1 { font-size: 40px; }
	.slider-2 .title2 { font-size: 65px; line-height: 65px; }
}

@media ( max-width: 1199px) { 
	.slider-1 .banner7-des .text-left { margin-left: -435px; }
	.slider-1 .banner7-des .text-right { margin-right: -465px; }
	.slider-1 .banner7-des .text-right h2 { font-size: 50px; line-height: 55px; }
	.slider-1 .banner7-des .text-right a { padding: 0 10px; }
	.slider-2 .title1 { font-size: 30px; }
	.slider-2 .title2 { font-size: 50px; line-height: 52px; }
	.slider-2 .banner7-des p { letter-spacing: 2px; font-size: 12px; }
	.slider-2 .des-container { margin-left: -283px; margin-top: -135px;}
}
 
@media ( max-width: 991px) {   
	.slider-1 .banner7-des .text-left { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); transform: scale(0.8); margin-left: -315px; margin-top: -70px;}
	.slider-1 .banner7-des .text-right { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); transform: scale(0.8); margin-right: -375px; margin-top: -152px;}
	.slider-2 .des-container { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); transform: scale(0.8); }
}
@media ( max-width: 767px) { 
	.slider-1 .banner7-des .text-left { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); transform: scale(0.5); }
	.slider-1 .banner7-des .text-right { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); transform: scale(0.5);}
	.slider-2 .des-container { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); transform: scale(0.5); }
}
@media ( max-width: 680px) { 
	.slider-1 .banner7-des .text-left {  margin-left: -275px; }
	.slider-1 .banner7-des .text-right {margin-right: -305px; }
	.slider-2 .des-container { margin-left: -254px; }
}
@media ( max-width: 480px) {  
.banner7-content .des-container{ display: none;} 
}

 
@media ( max-width: 320px) { 
	
}